body {
    background-color: #000;
    color: #fafafa;
    font-family: 'Roboto Slab', sans-serif;
    background: url('../images/background.jpg') center center / cover no-repeat;
    min-height: 100vh;
    margin: 0;
}

.nav-link {
    color: #fafafa !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
}

.introduction {
    font-family: "Londrina Sketch", sans-serif;
    text-align: center; 
}

.introduction p {
    font-size: 1.75rem;
    letter-spacing: 0.09em;
}

#content-box {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 2rem; 
    border-radius: 10px;
}

.links {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5rem;
}

.links a { 
    color: #fafafa;
    text-decoration: none; 
}

.links a:hover {
    color: #fafafa; 
    text-decoration: none; 
}

.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
    text-decoration: none; 

}

/* Profile Info */
.personal-info {
    background-color: #800000;
    position: fixed; /* Fixed for larger screens */
    left: 0;
    top: 56px; /* Assuming there's a navbar */
    width: 25vw; /* 25% of the screen width */
    height: calc(100vh - 56px); /* Full height minus navbar */
    z-index: 1; /* Ensure it's on top */
}

/* Profile Image Styling */
#profile-picture {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 3px solid #fafafa;
    object-fit: cover;
    margin-top: 20px;
}

/* Content Column */
.content-col {
    padding-left: 30px;
}

/* Mobile Adjustments */
@media only screen and (max-width: 767px) {
    .personal-info {
        position: static;
        width: 100%;
        height: auto; 
        margin-bottom: 20px;
    }

    .content-col {
        padding-left: 0; 
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1280px) { 
    #profile-picture {
        height: 150px;
        width: 150px;
    }
}