body {
    background-color: #000;
    color: #fafafa;
    font-family: 'Roboto Slab', sans-serif;
    background: url('../images/background.jpg') center center / cover no-repeat;
    min-height: 100vh;
    margin: 0;
}

.nav-link {
    color: #fafafa !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
}

.introduction {
    font-family: "Londrina Sketch", sans-serif;
    text-align: center; 
}

.introduction p {
    font-size: 1.75rem;
    letter-spacing: 0.09em;
}

#content-box {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 2rem; 
    border-radius: 10px;
}

.links {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5rem;
}

.links a { 
    color: #fafafa;
    text-decoration: none; 
}

.links a:hover {
    color: #fafafa; 
    text-decoration: none; 
}

.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
    text-decoration: none; 

}

